@tailwind base;
@tailwind components;
@tailwind utilities;

.tech-stack-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tool-stack-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}